<h3 class="px-2 pt-2">{{text.headerText}}</h3>

<form class="px-2">
    <label for="title">{{text.titleLabelText}}</label>
    <input required type="text" name="title" value="{{text.titleInputValue}}">

    <label for="content">{{text.contentLabelText}}</label>
    <textarea required name="content">{{text.contentTextareaValue}}</textarea>

    <button class='mt-3 p-1' type="submit">{{text.buttonText}}</button>
</form>

<script src="/js/add-or-edit-post.js"></script>